build
build-debug
build-release
.vscode
.cache
a
b
benchmarks/results/*
benchmarks/run_results
benchmarks/*tmp
benchmarks/*log
benchmarks/debug/*
*code-workspace
*.png
logs*/
**pycache**
**log
**.csv
**zipf_test
**pattern_sampler
**4k-read-rand-multi
third-party/nr_rust/*